aapt.debhelper.log
aapt.substvars
aapt/
android-libandroidfw-dev.debhelper.log
android-libandroidfw-dev.substvars
android-libandroidfw-dev/
android-libandroidfw.debhelper.log
android-libandroidfw.substvars
android-libandroidfw/
android-platform-frameworks-base_*
files
