.debhelper/
.gradle/
.gradlehome/
.mh/
*.log
*.substvars
aapt/
aidl.1
aidl/
android-*/
build/
debhelper-build-stamp
files
libandroid-23-java*/
libandroid-uiautomator-23-java*/
out/
split-select.1
split-select/
tmp/
