#!/usr/bin/make -f

export UPSTREAM_UNIFIED_VERSION = 5.1.1.8
export UPSTREAM_TAG = android-5.1.1_r8
export UPSTREAM_VERSION = 5.1.1+r8
export PACKAGE_NAME = android-platform-frameworks-base

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/android-libandroidfw/usr/lib/android -l/usr/lib/android

get-orig-source:
	mkdir orig-source-tmp
	make -C orig-source-tmp -f ../debian/get-orig.mk
	mv orig-source-tmp/$(PACKAGE_NAME)_$(DEBIAN_VERSION).orig.tar.xz ..
	rm -r -f orig-source-tmp